body, html {
    font-family: Arial, sans-serif;
    background-image: url('./img/backgroundMain.jpg');
    background-size: cover;
    background-position: center;
}

background{
    background-image: url('./img/backgroundMain.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}


button {
    margin: 0px 50px;
    background-color: #e210b5; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách lề nội dung bên trong nút */
    text-align: center; /* Căn giữa nội dung văn bản */
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border: 1px solid #e210b5; /* Đường viền */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Con trỏ khi di chuột qua nút */
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }
h1 {
    color: #e210b5;
    text-align: center;
    margin-top: 120px;
    font-size: 55px;
    text-shadow: 2px 2px 4px #000000;
}
p{
    color: #e210b5;
    text-align: center;
    margin-top: 40px;
    font-size: 55px;
    text-shadow: 2px 2px 4px #000000;
}
.container-index1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.container-index3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.container-index3 h1{
    color: #e210b5;
    text-align: center;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 30px;

}
.container-column #buttonPressMe {
    margin-top: 40%;
    text-align: center;
    font-size: 25px;
    padding: 10px 20px;
    text-shadow: #000000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.container-column {
    display: flex;
    flex-direction: row;
    align-items: top;
}
#video-along {
    width: 30vh;
    height: 58vh;
    margin-bottom: 68px;
}
.container-column img{
    margin-bottom:50px ;
    width: 60vh;
    height: 60vh;
}
/* Media query for mobile devices */
@media (max-width: 600px){
    .container-index3 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .container-index3 h1{
        padding-bottom: 10px;
        color: #e210b5;
        text-align: center;
        font-size: 30px;
        text-shadow: 2px 2px 4px #000000;
        margin-top: 0px;
    }
    .container-column img{
        margin-bottom:30px ;
        width: 40vh;
        height: 40vh;
    }
    #buttonPressMe {
        margin-top: 0 px;
        text-align: center;
        font-size: 25px;
        padding: 10px 20px;
        text-shadow: #000000;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    }
    #video-along {
        width: 187px;
        height: 367px;
    }
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao của container, ở đây sử dụng 100% chiều cao của màn hình */
  }



.section-text {
    text-align: center;
}
.section-text p{
    font-size: 40px;
    color: #e210b5;
    text-decoration: solid;
    text-align: center;
}
.section-text h4 {
    text-align: center;
    text-decoration: none;
}
.section-button-yes-no{
    margin-top: 20px;
    display: flex;
}
.section-button-yes-no button{
    width: 145px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 25px;
  border-radius: 25px;
  font-weight: bold;
  border: 3px solid #fa80bdec;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.section-button-yes-no button:hover {
    background: #fa80bdec;
    color: #fff;
  }




/* Thêm các kiểu khác tại đây */
/* Thêm các kiểu khác tại đây */
/* Thêm các kiểu khác tại đây */
/* Thêm các kiểu khác tại đây */
.openMenu{
    font-size: 40px;
    margin-bottom: 15px;
}
.container{
    max-width: 1200;
    
    margin: auto;   
}
.places-items{
    display: flex;
    padding: 12px;
    background-color: rgb(248, 0, 215);
    justify-content: space-between;
}
.places-move-on{
    margin-top: 80px;
}
.places{
    width: 23%;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.places img{
    width: 100%;
    height: 30vh;
    margin-bottom: 10px;
}
button {
    margin: 0px 50px;
    background-color: #e210b5; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách lề nội dung bên trong nút */
    text-align: center; /* Căn giữa nội dung văn bản */
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border: 1px solid #e210b5; /* Đường viền */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Con trỏ khi di chuột qua nút */
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }
p{
    color: #e210b5;
    font-size: 35px;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 5px;
}
h2{
    color: #e210b5;
    text-align: center;
    margin-top: 10px;
    font-size: 55px;
    text-shadow: 2px 2px 4px #000000;
}

.menu .custom-size {
    font-size: 30px; /* Kích thước tùy chỉnh */
    margin-bottom: 15px;
    margin-left: 200px;
    cursor: pointer;
}
.fa-bars
/*------------------menu----------------*/
.menu{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.menu h2 {
    margin-bottom: 20px;
}
.menu table{
    width: 100%;
}
.menu table thead tr th{
    text-align: center;
}
.menu table tr{
    text-align: center;
}
.menu table tr td img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.menu table tr td {

    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #ec0000;
    padding: 20px, 0;
}
/*---------------------------------------*/
.menu{
    border-radius: 2%;
    position: fixed;
    height: 100vh;
    top: 0;
    right: -100%;
    width: 400px;
    background-color: #5c4f96;
    padding: 12, 20px;
    overflow-y: scroll;
    transition: all 0.1s ease-in-out;
}
.move-on-button{
    background: transparent;
    border: 2px solid #fa80bdec;
    border-radius: 20px;
    transition: 0.5s;
    color: #fa80bdec;
}
.move-on-button:hover {
    background: #fa80bdec;
    color: #fff;
}